@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

body {
  font-family: "Lato";
  font-size: 80%;
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 80%;
  -webkit-text-size-adjust: 80%;
  -ms-text-size-adjust: 80%;
  -webkit-text-size-adjust: 80%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

.bottomleft {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 15px;
}


a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.app {
  height: 100vh;
  width: 15em;
}

.footer {
  /* height: 100vh; */
  /* margin-left: 15em; */
  /* position: fixed; */
  /* text-align: center;
  padding: 0.27em;
  background-color: #2b3991;
  color: white;
  margin-top: 0vh; */
  /* width: 100%; */
  padding-top: 0.27em;
  padding-bottom:0.27em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b3991;
  color: white;
  text-align: right;
  margin-right: 5em;
  height: 1em;
  
}


.header {
  height: 3.9em;
  margin-left: 13em;
  padding: 0.27em;
  background-color: #f7f7f7;
  margin-top: 0vh;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
}

div.content {
  margin-left: 13em;
  height: 100%;
  margin-top: 4.6em;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* -------------
Sidebar
----------------*/
.sidebar {
  position: fixed;
  width: 13em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #2b3991;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

.sidebar header {
  background-color: #f7f7f7;
  width: 100%;
  display: block;
  padding: 0.75em 1em;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  background-color: #2b3991;
  height: 100%;

  font-size: 1.5em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 3px;
  /* -------------
  Chev elements
  ----------------*/
  /* -------------
  Nav-Flyout
  ----------------*/
  /* -------------
  Hover
  ----------------*/
}

.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
 /*  padding-bottom: 3px; */
  /* -------------
  Sidebar: icons
  ----------------*/
}

.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  /* padding: 0.5em 0.5em; */
  position: relative;
  display: block;
  /* padding-bottom: 3px; */
}

.sidebar-nav ul li a:hover {
  background-color: #1c245b;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.sidebar-nav ul li i {
  font-size: 1em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}

.sidebar-nav>ul>li>a:after {
  content: "";
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}

.active {
  background-color: #1c245b;
}

.inactive {
  background-color: #35449a;
}

.sidebar-title {
  /* margin-left: -5px; */
  text-align: center;
  width: 4em;
  font-weight: bold;
}

.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #35449a;
  z-index: 9;
  left: 3.9em;
  top: 0;
  height: 100vh;
  width: 200px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 10px;
}

.sidebar-nav .nav-flyout a:hover .dropdown-btn:hover {
  background-color: #1c245b;
}

.dropdown-container {
  display: none;
   background-color: #35449a; 
/* background-color: red; */
  padding-left: 15px;
 /*  padding-bottom: 1px; */
}

.dropdown-subcontainer {
  display: none;
  background-color: #35449a;
  padding-left: 10px;
}

.dropdown-btn {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-subbtn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-size: 1.6em;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 0px;
}

.sidebar-nav ul>li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav-nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h2 {
  margin-bottom: 5px;
  color: #2b3990;
}

h3 {
  margin-bottom: 5px;
  color: #2b3990;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-right: 2%;
}

/* Form styles */
/* form {
  margin-bottom: 20px;
} */
form {
  width: 100%;
  text-align: center;
}

input[type="text"],
input[type="password"],
select,
textarea,
option {
  width: -webkit-fill-available;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  margin-left: 5px;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
  padding: 8px 8px 8px 0;
  display: inline-block;
  text-align: right;
}

input[type="submit"],
input[type="button"]
{
  background-color: #2b3991;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  float: center;
  cursor: pointer;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="submit"]:hover {
  background-color: #2b3991;
}


.col-15 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

/* .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
} */

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e2e6f9;
  color: #283587;
}

/* Error message styles */
.error-message {
  color: red;
  margin-top: 10px;
}

form {
  margin-top: 20px;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.toggle {
  position: relative;
  display: block;
  width: 49px;
  height: 20px;
  padding: 3px;
  border-radius: 50px;
  cursor: pointer;
  font-size: small;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.toggle-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: small;
  background: red;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 3px rgba(0, 0, 0, 0.15);
}

.toggle-label:before,
.toggle-label:after {
  position: absolute;
  top: 50%;
  color: black;
  margin-top: -.5em;
  line-height: 1;
}

.toggle-label:before {
  content: attr(data-off);
  right: 5px;
  color: #fff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  font-size: small;
}

.toggle-label:after {
  content: attr(data-on);
  left: 7px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-size: small;
}

.toggle-input:checked~.toggle-label {
  background: green;
}

.toggle-input:checked~.toggle-label:before {
  opacity: 0;
}

.toggle-input:checked~.toggle-label:after {
  opacity: 1;
}

.toggle-handle {
	position: absolute;
    top: 4px;
    left: 3px;
    width: 19px;
    height: 18px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    border-radius: 50%;
}

.toggle-handle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 10px;
  height: 10px;
}

.toggle-input:checked~.toggle-handle {
  left: 33px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition*/
.toggle-label,
.toggle-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}




