 

 /* @charset "ISO-8859-1";
Global styles */
body {
  font-family:San pro font;
  margin: 0;

  
}

h2 {
  margin-bottom: 10px;
  color:#2b3990;
}

Form styles
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] input[type="password"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 5px 10px;
  background-color: #6c45ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:medium;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

Table styles
table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e2e6f9;
  color: #283587;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

Error message styles
.error-message {
  color: red;
  margin-top: 10px;
}

form {
  margin-top: 20px;
}


.content {
  flex: 1;
  
  margin-top:50px;
}

.container {
  display: flex;
  
}


.sidebar {
  width: 250px;
background-color: #2b3990;
	height:70%;
	margin-top:-30px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ccc;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f1f1f1;
  width: 200px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  position: relative;
}

.submenu a {
  padding: 8px 16px;
  color: #333;
}

.submenu a:hover {
  background-color: #ccc;
}


	:root{
		--blue:#2b3990;
		--white:#fff;
		--grey:#f5f5f5;
		--black1:#222;
		--black2:#999;
	}
	
	.containers{
		width: 100%;
		position: relative;
	}
	.navigation{
		position: fixed;
		width: 250px;
		height:70%;
		margin-top: 100px;
		background: var(--blue);
		
	}
	
	.navigation ul li ul li:hover{
		background-color: var(--grey);
	}
	
 
	
	.navigation ul li a{
		position: relative;
		width: 100%;
		display: flex;
		text-decoration: none;
		color: var(--blue);
		display: block;
	}

	
	
	@charset "ISO-8859-1";
/* Global styles */
 /* body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  
  
}

h2 {
  margin-bottom: 10px;
}

Form styles
form {
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] input[type="password"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 5px 10px;
  background-color: #6c45ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:medium;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

Table styles
table {
  border-collapse: collapse;
  width: 120%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #6c45ed;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

Error message styles
.error-message {
  color: red;
  margin-top: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

.container {
  display: flex;
 
}


.sidebar {
  width: 250px;
  background-color: #f1f1f1;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ccc;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f1f1f1;
  width: 200px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  position: relative;
}

.submenu a {
  padding: 8px 16px;
  color: #333;
}

.submenu a:hover {
  background-color: #ccc;
}


	:root{
		--blue:#2b3990;
		--white:#fff;
		--grey:#f5f5f5;
		--black1:#222;
		--black2:#999;
	}
	
	.containers{
		width: 100%;
		position: relative;
	}
	.navigation{
		position: fixed;
		width: 250px;
		height:70%;
		margin-top: 100px;
		background: var(--blue);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	}
	
	.navigation ul li ul li:hover{
		background-color: var(--grey);
	}
	
 
	
	.navigation ul li a{
		position: relative;
		width: 100%;
		display: flex;
		text-decoration: none;
		color: var(--blue);
		display: block;
	}
  
   */
	
 