<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WP500</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.tas.wp500.UploadServlet</servlet-class>
    <multipart-config>
      <max-file-size>204857600</max-file-size>
      <max-request-size>409715200</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>CRTFileUploadServlet</servlet-name>
    <servlet-class>com.tas.wp500.CRTFileUploadServlet</servlet-class>
    <multipart-config>
      <max-file-size>204857600</max-file-size>
      <max-request-size>409715200</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
</web-app>